<ion-header no-border>
	<ion-navbar color="color1">
		<ion-title>Locations</ion-title>
		<ion-buttons end>
            <button ion-button icon-only color="white" (click)="addEditLocation($event)">
                <ion-icon name="add"></ion-icon>
            </button>
        </ion-buttons>
	</ion-navbar>
</ion-header>
<ion-content id="google-v1">
	<ion-searchbar></ion-searchbar>
	<ion-list>
		<ion-list-header>
			<ion-label col-6>Location Name</ion-label>
			<ion-label>Position</ion-label>
		</ion-list-header>
		<ion-item tappable *ngFor="let c of customerLocations" (click)="locationDetail(c.id)">
			<ion-label col-6>{{c.name}}</ion-label>
			<ion-label>{{c.phone}}</ion-label>
		</ion-item>
	</ion-list>
</ion-content>