<ion-header no-border>
	<ion-navbar color="color1">
		<ion-title>Contact Details</ion-title>
		<ion-buttons end>
			<button ion-button icon-only color="white" (click)="openPage('ContactsComponent')">
				<ion-icon name="trash"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>
<ion-content id="details-v1">
	<ion-item>
		<ion-label>Contact Name:<br />Luke Mcilwaine</ion-label>
		<button ion-button item-end icon-only>
			<ion-icon name="create"></ion-icon>
		</button>
	</ion-item>
	<ion-item>
		<ion-label>Position:<br />Web Developer</ion-label>
		<button ion-button item-end icon-only>
			<ion-icon name="create"></ion-icon>
		</button>
	</ion-item>
	<ion-item>
		<ion-label>Email Address:<br />luke@bmcasolutions.com</ion-label>
		<button ion-button item-end icon-only>
			<ion-icon name="create"></ion-icon>
		</button>
	</ion-item>
	<ion-item>
		<ion-label>Contact Number:<br />0123456789</ion-label>
		<button ion-button item-end icon-only>
			<ion-icon name="create"></ion-icon>
		</button>
	</ion-item>
	<ion-item>
		<ion-label>Address Line 1:<br />CIDO Innovation Center</ion-label>
		<button ion-button item-end icon-only>
			<ion-icon name="create"></ion-icon>
		</button>
	</ion-item>
	<ion-item>
		<ion-label>Address Line 2:<br />Charlestown Road</ion-label>
		<button ion-button item-end icon-only>
			<ion-icon name="create"></ion-icon>
		</button>
	</ion-item>
	<ion-item>
		<ion-label>Address Line 3:<br />Portadown</ion-label>
		<button ion-button item-end icon-only>
			<ion-icon name="create"></ion-icon>
		</button>
	</ion-item>
	<ion-item>
		<ion-label>Address Line 4:<br />County Armagh</ion-label>
		<button ion-button item-end icon-only>
			<ion-icon name="create"></ion-icon>
		</button>
	</ion-item>
	<ion-item>
		<ion-label>Postcode:<br />BT111AA</ion-label>
		<button ion-button item-end icon-only>
			<ion-icon name="create"></ion-icon>
		</button>
	</ion-item>
</ion-content>