<ion-header>
  <ion-toolbar color="color1">
    <ion-title>
      {{quickVisit?'Create Quick':(visit.id?'Edit':'Create')}} Visit
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="addContact($event)" *ngIf="(visit || quickVisit).customerId>0">
        <ion-icon name="person-add"></ion-icon>
      </button>
      <button ion-button icon-only (click)="dismiss()">
        <span ion-text showWhen="ios"> Cancel </span>
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list *ngIf="visit">
    <ion-item *ngIf="_showCustomerSelecteion">
      <ion-label stacked>Customer</ion-label>
      <ion-select [(ngModel)]="visit.customerId" (ngModelChange)="customerChanged($event)" interface="action-sheet"
        cancelText="Dismiss">
        <ion-option *ngFor="let u of custs" value="{{u.id}}">{{u.name}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label stacked>Site</ion-label>
      <ion-select [(ngModel)]="visit.siteId" interface="action-sheet" cancelText="Dismiss">
        <ion-option *ngFor="let loc of sites" value="{{loc.id}}">{{loc.name}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label stacked>Contact</ion-label>
      <ion-select [(ngModel)]="visit.contactId" interface="action-sheet" cancelText="Dismiss">
        <ion-option *ngFor="let c of contacts" value="{{c.id}}">{{c.name}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label stacked>Date</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD/MM/YYYY" min="{{_minDate}}" max="{{_maxDate}}"
        [(ngModel)]="visit.startDate"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label stacked>Start Time</ion-label>
      <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" minuteValues="0,15,30,45" [(ngModel)]="visit.startTime" (ionChange)="setEndTimeAtPlus1Hour(visit)"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label stacked>End Time</ion-label>
      <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" minuteValues="0,15,30,45" [(ngModel)]="visit.endTime"></ion-datetime>
    </ion-item>
    <ion-item *ngIf="!visit.id">
      <ion-label stacked>Additional Staff</ion-label>
      <ion-input type="text" [(ngModel)]="visit.additionalStaff"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Notes</ion-label>
      <ion-input type="text" [(ngModel)]="visit.notes"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Objective</ion-label>
      <ion-select [(ngModel)]="visit.objective" interface="action-sheet" cancelText="Dismiss">
        <ion-option *ngFor="let u of objectives" value="{{u.name}}">{{u.name}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="quickVisit">
    <ion-item *ngIf="_showCustomerSelecteion">
      <ion-label stacked>Customer</ion-label>
      <ion-select [(ngModel)]="quickVisit.customerId" (ngModelChange)="customerChanged($event)" interface="action-sheet"
        cancelText="Dismiss">
        <ion-option *ngFor="let u of custs" value="{{u.id}}">{{u.name}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label stacked>Site</ion-label>
      <ion-select [(ngModel)]="quickVisit.siteId" interface="action-sheet" cancelText="Dismiss">
        <ion-option *ngFor="let loc of sites" value="{{loc.id}}">{{loc.name}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label stacked>Contact</ion-label>
      <ion-select [(ngModel)]="quickVisit.contactId" interface="action-sheet" cancelText="Dismiss">
        <ion-option *ngFor="let c of contacts" value="{{c.id}}">{{c.name}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label stacked>Objective</ion-label>
      <ion-select [(ngModel)]="quickVisit.objective" interface="action-sheet" cancelText="Dismiss">
        <ion-option *ngFor="let u of objectives" value="{{u.name}}">{{u.name}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <div padding>
    <button ion-button full color="primary" (click)="save(visit)">
      Submit</button>
  </div>
</ion-content>