<ion-header>
  <ion-toolbar color="color1">
    <ion-title>
      {{_prod.id?'Edit':'Create'}} Customer Product
    </ion-title>
    <ion-buttons end (click)="dismiss()">
      <button ion-button icon-only>
        <span ion-text showWhen="ios"> Cancel </span>
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item>
      <h3>{{_prod.name}}</h3>
    </ion-item>
    <ion-item>
      <ion-label stacked>Supplier</ion-label>
      <ion-select [(ngModel)]="_prod.supplierId" interface="action-sheet" cancelText="Dismiss">
        <ion-option *ngFor="let s of _suppliers" value="{{s.id}}">{{s.name}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item [hidden]="_prod.supplierId!=18">
      <ion-label stacked>Supplier Name</ion-label>
      <ion-input type="text" [(ngModel)]="_prod.supplierName"></ion-input>
    </ion-item>
    <!-- <ion-item>
      <ion-label>Is Stokist</ion-label>
      <ion-toggle [(ngModel)]="_prod.isStockist"></ion-toggle>
    </ion-item> -->
  </ion-list>
  <div padding>
    <button ion-button full color="primary" (click)="save(_prod)">
      Submit</button>
  </div>
</ion-content>