<ion-header no-border>
	<ion-navbar color="color1">
		<button ion-button menuToggle color="white">
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>Customers</ion-title>
		<ion-buttons end>
			<button ion-button icon-only color="white" (click)="addEditCustomer($event)">
				<ion-icon name="add"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
	<ion-searchbar [(ngModel)]="terms"></ion-searchbar>
</ion-header>
<ion-content>
	<ion-list no-margin margin-bottom>
		<ion-item>
			<ion-label stacked>Type</ion-label>
			<ion-select [(ngModel)]="typeId" interface="action-sheet" cancelText="Dismiss">
				<ion-option value="0">All Customers</ion-option>
				<ion-option value="1">Contractor</ion-option>
				<ion-option value="2">Consultant</ion-option>
				<ion-option value="3">Wholesaler</ion-option>
				<ion-option value="4">Other</ion-option>
			</ion-select>
		</ion-item>
		<ion-item *ngFor="let cust of customers | search : terms | callback : filterTypeId.bind(this)" (click)="customerDetail(cust.id)">
			<text-avatar [text]="cust.text" color="#3286d0" item-left></text-avatar>
			<h3>{{cust.name}}</h3>
			<p>{{cust.refNo}}</p>
		</ion-item>
	</ion-list>
</ion-content>