<!-- Google map Page -->

<!--
	- Five types of map applied separately with individual tab component
	- This file contains five tabs and every tab contain single map component
-->

<!-- Header part -->
<ion-header no-border>
	<ion-navbar color="color1" hideBackButton>
		<button ion-button menuToggle color="white">
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>Stockist Details</ion-title>
		<ion-buttons end>
            <button ion-button icon-only color="white" (click)="openPage('Customer_detailsComponent')">
                <ion-icon name="arrow-round-back"></ion-icon>
            </button>
        </ion-buttons>
	</ion-navbar>
</ion-header>

<!-- Content part -->
<ion-content id="stockist-v1">
	
	<ion-item>
		<ion-label>Trunking</ion-label>
		<ion-toggle checked="true"></ion-toggle>
	</ion-item>
	<ion-item>
		<ion-label>Trays</ion-label>
		<ion-toggle checked="true"></ion-toggle>
	</ion-item>
	<ion-item>
		<ion-label>Basket</ion-label>
		<ion-toggle checked="false"></ion-toggle>
	</ion-item>
	<ion-item>
		<ion-label>Ladder</ion-label>
		<ion-toggle checked="false"></ion-toggle>
	</ion-item>
	<ion-item>
		<ion-label>Accessories</ion-label>
		<ion-toggle checked="false"></ion-toggle>
	</ion-item>

</ion-content>