<ion-header>
  <ion-toolbar color="color1">
    <ion-title>
      {{_ac.id?'Edit':'Create'}} Action
    </ion-title>
    <ion-buttons end (click)="dismiss()">
      <button ion-button icon-only>
        <span ion-text showWhen="ios"> Cancel </span>
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item *ngIf="_showCustomerSelecteion">
      <ion-label stacked>Customer</ion-label>
      <ion-select [(ngModel)]="_ac.customerId" interface="action-sheet"
        cancelText="Dismiss">
        <ion-option *ngFor="let u of _customers" value="{{u.id}}">{{u.name}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label stacked>Name</ion-label>
      <ion-input type="text" [(ngModel)]="_ac.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked> Due Date </ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" min="{{_minDate}}" max="{{_maxDate}}" [(ngModel)]="_ac.dueDate"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label stacked>Assigned To</ion-label>
      <ion-select [(ngModel)]="_ac.assignedToId" interface="action-sheet" cancelText="Dismiss">
        <ion-option *ngFor="let u of users" value="{{u.UID}}">{{u.DisplayName}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label stacked>Priority</ion-label>
      <ion-select [(ngModel)]="_ac.priority" interface="action-sheet" cancelText="Dismiss">
        <ion-option value="1">Low</ion-option>
        <ion-option value="2">Medium</ion-option>
        <ion-option value="3">High</ion-option>
        <ion-option value="4">Critical</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label stacked>Detail</ion-label>
      <ion-textarea [(ngModel)]="_ac.detail" autosize></ion-textarea>
    </ion-item>
  </ion-list>
  <div padding>
    <button ion-button full color="primary" (click)="save(_ac)">
      Submit</button>
  </div>
</ion-content>