<ion-header no-border>
	<ion-navbar color="color1">
		<ion-title>Customers</ion-title>
	</ion-navbar>
</ion-header>
<ion-content>
	<ion-searchbar [(ngModel)]="terms"></ion-searchbar>
	<ion-list>
		<ion-item *ngFor="let cust of customers | search : terms" (click)="customerContacts(cust.id)">
			<text-avatar [text]="cust.text" color="#3286d0" item-left></text-avatar>
			<h3>{{cust.name}}</h3>
			<p>{{cust.refNo}}</p>
		</ion-item>
	</ion-list>
</ion-content>