<ion-header no-border>
	<ion-navbar color="color1">
		<ion-title>Contacts</ion-title>
		<ion-buttons end>
			<button *ngIf="!cust.isOther" ion-button icon-only color="white" (click)="addEditContact($event)">
				<ion-icon name="add"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
	<ion-searchbar [(ngModel)]="terms"></ion-searchbar>
</ion-header>
<ion-content>
	<ion-list>
		<ion-item tappable *ngFor="let c of customerContacts | search : terms" (click)="contactDetail(c.id)">
			<text-avatar [text]="c.text" color="#3286d0" item-left></text-avatar>
			<h2>{{c.name}}</h2>
			<p>{{c.phone}}</p>
			<p>{{c.email1}}</p>
		</ion-item>
	</ion-list>
</ion-content>