<ion-header>
  <ion-toolbar color="color1">
    <ion-title>
      {{tradelink.id?'Edit':'Create'}} Trade link
    </ion-title>
    <ion-buttons end (click)="dismiss()">
      <button ion-button icon-only>
        <span ion-text showWhen="ios"> Cancel </span>
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item>
    <ion-label stacked>Name</ion-label>
    <ion-input type="text" [(ngModel)]="tradelink.name"></ion-input>
  </ion-item>
  <div padding>
    <button full ion-button (click)="save(tradelink)">Submit</button>
  </div>
</ion-content>