<ion-header no-border>
	<ion-navbar color="color1">
		<ion-title>Contact Details</ion-title>
		<ion-buttons end>
			<button ion-button icon-only color="white" (click)="addEditContact($event, contact)">
				<ion-icon name="create"></ion-icon>
			</button>
			<button ion-button icon-only color="white" (click)="deleteContact($event, contact)">
				<ion-icon name="trash"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>
<ion-content id="details-v1">
	<ion-item>
		<ion-icon name="person" color="primary" item-start></ion-icon>
		<h3>{{contact.name}}</h3>
	</ion-item>
	<ion-item>
		<ion-icon name="hand" color="primary" item-start></ion-icon>
		<h3>{{contact.positionHeld}}</h3>
	</ion-item>
	<ion-item>
		<ion-icon name="mail" color="primary" item-start></ion-icon>
		<h3>{{contact.email1}}</h3>
	</ion-item>
	<!-- <ion-item>
		<ion-label>Email Address2:<br />{{contact.email2}}</ion-label>
	</ion-item> -->
	<ion-item>
		<ion-icon name="call" color="primary" item-start></ion-icon>
		<h3>{{contact.phone}}</h3>
	</ion-item>

</ion-content>