<!-- Registration Page -->

<!-- Content Options -->
<ion-content id="registration-v1">

  <!-- Logo -->
  <div class="logo animated fadeInDown">
    <img src="assets/imgs/logo.png">
    <h2>IonicBucket</h2>
  </div>

  <!-- Main Body -->
  <div class="main-body animated zoomIn" padding>
    <form>
      <ion-list>

        <!-- Username -->
        <ion-item>
          <ion-label>
            <ion-icon name="md-person"></ion-icon>
          </ion-label>
          <ion-input class="ion-ios-locked-outline" type="text" placeholder="{{'REGISTRATION.USERNAME' | translate}}" [(ngModel)]="user.username"
            name="username"></ion-input>
        </ion-item>

        <!-- Email -->
        <ion-item>
          <ion-label>
            <ion-icon name="md-mail"></ion-icon>
          </ion-label>
          <ion-input class="ion-ios-locked-outline" type="text" placeholder="{{'REGISTRATION.EMAIL' | translate}}" [(ngModel)]="user.email"
            name="email"></ion-input>
        </ion-item>

        <!-- Password -->
        <ion-item>
          <ion-label>
            <ion-icon name="md-eye"></ion-icon>
          </ion-label>
          <ion-input class="ion-ios-locked-outline" type="password" placeholder="{{'REGISTRATION.PASSWORD' | translate}}" [(ngModel)]="user.password"
            name="password"></ion-input>
        </ion-item>

        <!-- Confirm Password -->
        <ion-item>
          <ion-label>
            <ion-icon name="md-eye"></ion-icon>
          </ion-label>
          <ion-input class="ion-ios-locked-outline" type="password" placeholder="{{'REGISTRATION.CONFIRM_PASSWORD' | translate}}" [(ngModel)]="user.confirmPassword"
            name="confirmPassword"></ion-input>
        </ion-item>

        <!-- Buttons -->
        <div class="buttons animated fadeInUp">
          <button ion-button type="button" color="dark" block (click)="RegistrationForm()">
            {{'REGISTRATION.CREATE_ACCOUNT' | translate}}
          </button>
        </div>

      </ion-list>
    </form>

    <!-- Skip button-->
    <button ion-button type="button" color="white" block clear (click)="skip()">
      {{'REGISTRATION.SKIP' | translate}}
    </button>
  </div>
</ion-content>