<ion-header>
	<ion-toolbar color="color1">
		<ion-title>
			Reassign Visit
		</ion-title>
		<ion-buttons end (click)="dismiss()">
			<button ion-button icon-only>
				<span ion-text showWhen="ios"> Cancel </span>
				<ion-icon name="close"></ion-icon>
			</button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>
<ion-content>
	<ion-list>
		<ion-item>
			<ion-label stacked>Assigned To</ion-label>
			<ion-select [(ngModel)]="assignedToId" interface="action-sheet" cancelText="Dismiss">
				<ion-option *ngFor="let u of users" value="{{u.UID}}">{{u.DisplayName}}</ion-option>
			</ion-select>
		</ion-item>
	</ion-list>
	<div padding>
		<button ion-button full color="primary" (click)="reassign(assignToId)">
			Reassign</button>
	</div>
</ion-content>