<ion-header>
  <ion-navbar color="color1">
    <ion-title>Sync Data</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <!-- <ion-item *ngFor='let message of messages'>{{message}}</ion-item> -->
    <!-- <ion-item-divider color="light">Uploads</ion-item-divider>
    <ion-item *ngFor='let message of upMessages'>
      <ion-icon name="{{message.icon}}" item-start color="secondary"></ion-icon>
      <h3>{{message.name}}</h3>
      <ion-badge item-end color="secondary">{{message.count}}</ion-badge>
    </ion-item> -->

    <ion-item-divider color="light">Downloads</ion-item-divider>
    <ion-item *ngFor='let message of _downMessages'>
      <ion-icon name="{{message.icon}}" item-start color="color1"></ion-icon>
      <h3>{{message.name}}</h3>
      <ion-badge item-end color="color1">{{message.count}}</ion-badge>
    </ion-item>
  </ion-list>
</ion-content>