<!-- Google map Page -->

<!--
	- Five types of map applied separately with individual tab component
	- This file contains five tabs and every tab contain single map component
-->

<!-- Header part -->
<ion-header no-border>
	<ion-navbar color="color1" hideBackButton>
		<button ion-button menuToggle color="white">
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>Edit Customer</ion-title>
		<ion-buttons end>
            <button ion-button icon-only color="white" (click)="openPage('CustomersComponent')">
                <ion-icon name="trash"></ion-icon>
            </button>
        </ion-buttons>
	</ion-navbar>
</ion-header>

<!-- Content part -->
<ion-content id="details-v1">

	<ion-item>
		<ion-label>H-TE WESTERN AUTOMATION</ion-label>
		<button ion-button item-end icon-only>
			<ion-icon name="create"></ion-icon>
		</button>
	</ion-item>

	<ion-item>
		<ion-label>Type</ion-label>
		<ion-select [(ngModel)]="Type">
		  	<ion-option value="Wholesaler" selected>Wholesaler</ion-option>
			<ion-option value="Contractor">Contractor</ion-option>
			<ion-option value="Consultant">Consultant</ion-option>
		</ion-select>
	</ion-item>
	
	<ion-item>
		<ion-label>Is Active</ion-label>
		<ion-toggle checked="true"></ion-toggle>
	</ion-item>

	<ion-item>
		<ion-label>Terms Agreed</ion-label>
		<ion-toggle checked="false"></ion-toggle>
	</ion-item>

	<ion-item>
		<ion-label>Main Location:</ion-label>
		<ion-select [(ngModel)]="Location">
		  	<ion-option value="HQ" selected>HQ</ion-option>
		</ion-select>
		<button ion-button item-end icon-only tappable (click)="openPage('Add_customer_locationComponent')">
			<ion-icon name="add"></ion-icon>
		</button>
	</ion-item>

	<ion-item>
		<ion-label>Main Contact:</ion-label>
		<ion-select [(ngModel)]="Contact">
		  	<ion-option value="Brendan McAnerney">Brendan McAnerney</ion-option>
			<ion-option value="Ryan Kelly" selected>Ryan Kelly</ion-option>
			<ion-option value="Luke Mcilwaine">Luke Mcilwaine</ion-option>
		</ion-select>
		<button ion-button item-end icon-only tappable (click)="openPage('Add_customer_contactComponent')">
			<ion-icon name="add"></ion-icon>
		</button>
	</ion-item>

	<ion-item>
		<ion-label>Containment spend<br/> p.a.</ion-label>
		<ion-select [(ngModel)]="Containment">
		  	<ion-option value="£0-£5k">£0-£5k</ion-option>
			<ion-option value="£5k-£10k" selected>£5k-£10k</ion-option>
			<ion-option value="£10k-£20k">£10k-£20k</ion-option> 
			<ion-option value="£20k-£50k">£20k-£50k</ion-option>
			<ion-option value="£50k-£100k">£50k-£100k</ion-option> 
			<ion-option value="> £100k">> £100k</ion-option>
		</ion-select>
	</ion-item>

	<ion-item>
		<ion-label>Stockist:</ion-label>
		<button ion-button item-end icon-only tappable (click)="openPage('StockistComponent')">
			<ion-icon name="arrow-round-forward"></ion-icon>
		</button>
	</ion-item>

	<br/><button id="submitbutton" block ion-button icon-only (click)="openPage('CustomersComponent')">Save Changes</button><br/>
	
</ion-content>