<ion-header no-border>
    <ion-navbar color="color1" hideBackButton>
        <button ion-button menuToggle color="white">
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Home Page</ion-title>
        <ion-buttons end>
            <button ion-button icon-only color="white" *ngIf="outOfSync" (click)="forceSync()">
                <ion-icon name="cloud-download"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content id="component-v1">
    <div class="slide-item" style="background-image: url(assets/imgs/Unitrunk.png);"></div>
    <ion-grid no-padding>
        <ion-row>
            <ion-col col-6 class="zoomIn col1" tappable (click)="openPage('FullCalendarComponent')">
                <ion-icon name="calendar"></ion-icon>
                <p ion-text color="color2">Calendar</p>
            </ion-col>
            <ion-col col-6 class="zoomIn col2" tappable (click)="openPage('CustomersComponent')">
                <ion-icon name="contacts"></ion-icon>
                <p ion-text color="color2">Customers</p>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-6 class="zoomIn col2" tappable (click)="openPage('VisitsComponent')">
                <ion-icon name="car"></ion-icon>
                <p ion-text color="color2">Visits</p>
            </ion-col>
            <ion-col col-6 class="zoomIn col1" tappable (click)="openPage('ActionsComponent')">
                <ion-icon name="clipboard"></ion-icon>
                <p ion-text color="color2">Actions</p>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-6 class="zoomIn col1" tappable (click)="openPage('Customer_contactsComponent')">
                <ion-icon name="call"></ion-icon>
                <p ion-text color="color2">Contacts</p>
            </ion-col>
            <ion-col col-6 class="zoomIn col2" tappable (click)="openPage('ReportsPage')">
                <ion-icon name="stats"></ion-icon>
                <p ion-text color="color2">Reports</p>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>