#component-v1 {
    img{
        width:100%;
        padding-top:20px;
        padding-bottom:10px;
    }

    .slide-item{
        height: 40%;
        background-size: 275px;
        background-position: center; 
        background-repeat: no-repeat;
    }

    height: 100%;
    ion-grid {
        height: 60%;
        ion-row {
            height: 33.33%;
            .col1 {
                background: $color1;
                text-align: center;
                padding-top: 10%;
                ion-icon {
                    color: white;
                    font-size: 2.0em;
                    line-height: 0;
                }
                p {
                    line-height: 0;
                    color: white;
                    font-size: 18px;
                    font-weight: bold;
                }
            }
            .col2 {
                background: $color2;
                text-align: center;
                padding-top: 10%;
                ion-icon {
                    color: white;
                    font-size: 2.0em;
                    line-height: 0;
                }
                p {
                    line-height: 0;
                    color: white;
                    font-size: 18px;
                    font-weight: bold;
                }
            }
        }
    }
}