<ion-header>
  <ion-toolbar color="color1">
    <ion-title>
      {{_loc.id?'Edit':'Create'}} Customer Location
    </ion-title>
    <ion-buttons end (click)="dismiss()">
      <button ion-button icon-only>
        <span ion-text showWhen="ios"> Cancel </span>
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item>
      <ion-label stacked>Location Name:</ion-label>
      <ion-input type="text" [(ngModel)]="_loc.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Address 1:</ion-label>
      <ion-input type="text" [(ngModel)]="_loc.address1"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Address 2:</ion-label>
      <ion-input type="text" [(ngModel)]="_loc.address2"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Address 3:</ion-label>
      <ion-input type="text" [(ngModel)]="_loc.address3"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Address 4:</ion-label>
      <ion-input type="text" [(ngModel)]="_loc.address4"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Post Code:</ion-label>
      <ion-input type="text" [(ngModel)]="_loc.postCode"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Is Default</ion-label>
      <ion-toggle [(ngModel)]="_loc.isDefault"></ion-toggle>
    </ion-item>
  </ion-list>
  <div padding>
    <button ion-button full color="primary" (click)="save(_loc)">
      Submit</button>
  </div>
</ion-content>