<ion-header>
  <ion-navbar color="color1">
    <ion-title>Reports</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div padding>
    <button padding full ion-button (click)="fetch()">Generate Report</button>
  </div>
  <ion-list>
    <ion-list>
      <ion-item *ngFor="let dt of _report.report1Data">
        <!-- <text-avatar [text]="dt.text" color="#3286d0" item-left></text-avatar> -->
        <h3>{{dt.CustomerName}}</h3>
        <p>{{dt.LastContactOn}}</p>
        <ion-badge item-end>Visit: {{dt.VisitCount}}</ion-badge>
      </ion-item>
    </ion-list>
  </ion-list>
  <ion-list no-margin *ngIf="_report.chart1Data">
    <ion-list-header no-margin>
      Wholesaler
    </ion-list-header>
  </ion-list>
  <div class="chart">
    <ngx-charts-pie-chart *ngIf="_report.chart1Data" [view]="view" [scheme]="colorScheme" [results]="_report.chart1Data"
      [legend]="false" [explodeSlices]="false" [labels]="true" [doughnut]="false" (select)="onSelect($event)">
    </ngx-charts-pie-chart>
  </div>
  <ion-list no-margin *ngIf="_report.chart2Data">
    <ion-list-header no-margin>
      Contractor
    </ion-list-header>
  </ion-list>
  <div class="chart">
    <ngx-charts-pie-chart *ngIf="_report.chart2Data" [view]="view" [scheme]="colorScheme" [results]="_report.chart2Data"
      [legend]="false" [explodeSlices]="false" [labels]="true" [doughnut]="false" (select)="onSelect($event)">
    </ngx-charts-pie-chart>
  </div>
</ion-content>