<!-- Langding Page  -->

<!-- Content Options -->
<ion-content id="landing-v1">
	<div class="background">
		<!-- Logo -->
		<br/><br/><br/><br/>
		<ion-grid>
			<ion-row>
				<ion-col>
				</ion-col>
				<ion-col col-6>
					<img src="assets/imgs/logo.png" style="width:100%">
				</ion-col>
				<ion-col>
				</ion-col>
			</ion-row>
		</ion-grid>
	
		<!-- All Buttons -->
		<div padding>
			<button ion-button color="white" full round (tap)="openPage('LoginComponent')">
				{{'LANDING_PAGE.LOGIN' | translate}}
			</button>
		</div>
	</div>
</ion-content>