#landing-v1 {
    /* Background style */
    .background {
        height: 100%;
        background: linear-gradient(-60deg, $themeColor1);
        background-size: cover;
        /* Logo style */
        .logo {
            height: 50%;
            padding-top: 10%;
            text-align: center;
            color: #fff;
            img {
                width: 100px;
                border-radius: 50%;
            }
        }
    }
}