<ion-header>
    <ion-toolbar color="color1">
        <ion-title>
            Complete Visit
        </ion-title>
        <ion-buttons end (click)="dismiss()">
            <button ion-button icon-only>
                <span ion-text showWhen="ios"> Cancel </span>
                <ion-icon name="close"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list>
        <ion-item>
            <ion-toggle [(ngModel)]="visit.objectiveMet"></ion-toggle>
            <ion-label>
                <h5>Was all objective met?</h5>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label stacked>Enter Comments</ion-label>
            <ion-textarea [(ngModel)]="visit.comments" autosize></ion-textarea>
        </ion-item>
    </ion-list>
    <div padding-horizontal padding-bottom>
        <button ion-button full (click)="completeVisit(visit)">
            Submit</button>
    </div>
</ion-content>