<ion-menu [content]="content" *ngIf="this.platform.dir()==='ltr'" side="left">
  <!-- Side menu header option -->
  <ion-header no-border>
    <ion-toolbar>
      <div class="contents" align="center">
          <img class="logo" src="assets/imgs/logo.png">
      </div>
    </ion-toolbar>
  </ion-header>

  <!-- Side menu content option -->
  <ion-content>
    <ion-list no-lines>
      <ion-item menuClose *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon ion-text color="white" [name]="p.leftIcon" item-left></ion-icon>
        <span ion-text color="white">{{p.title | translate}}</span>
      </ion-item>
    </ion-list>
  </ion-content>

  <!-- Side Menu Footer  -->
  <ion-footer>
    <button ion-button full color="white" no-margin (click)="logout('LandingPageComponent')">
      <ion-icon name="md-log-out"></ion-icon> &nbsp; {{'LOGOUT' | translate}}
    </button>
  </ion-footer>
</ion-menu>

<ion-menu [content]="content" *ngIf="this.platform.dir()!=='ltr'" side="right">
  <!-- Side menu header option -->
  <ion-header no-border>
    <ion-toolbar>
      <div class="contents">
        <div class="left">
          <img class="logo" src="assets/imgs/logo.png">
        </div>
        <div class="right">
          <span>IonicBucket</span>
          <span>ionicbucket@gmail.com</span>
        </div>
      </div>
    </ion-toolbar>
  </ion-header>

  <!-- Side menu content option -->
  <ion-content>
    <ion-list no-lines>
      <ion-item menuClose *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon ion-text color="white" [name]="p.leftIcon" item-left></ion-icon>
        <span ion-text color="white">{{p.title | translate}}</span>
      </ion-item>
    </ion-list>
  </ion-content>

  <!-- Side Menu Footer  -->
  <ion-footer>
    <button ion-button full color="white" no-margin (click)="logout()">
      <ion-icon color="white" name="md-log-out"></ion-icon> &nbsp; {{'LOGOUT' | translate}}
    </button>
  </ion-footer>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>