// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.swiper-pagination-bullet {
    background: linear-gradient(-60deg, $themeColor1);
    width: 10px;
    height: 10px;
}

.action-sheet-cancel{
    color: map-get($colors, danger) !important;
    font-weight: bold;
}

.menu-inner {
    ion-toolbar {
        padding-bottom: 5%;
        padding-top: 5%;
        .contents {
            width: 100%;
            .left {
                float: left;
                width: 30%;
                img {
                    width: 70px;
                    height: 30%;
                    border-radius: 50%;
                    margin-top: 5%;
                }
            }
            .right {
                width: 70%;
                float: right;
                margin-top: 8%;
            }
        }
    }
    .toolbar-background {
        background: linear-gradient(to right, $themeColor1);
    }
    ion-content {
        background-color: #333 !important;
        .list {
            margin-top: 3%;
            margin-bottom: 0 !important;
        }
        .item {
            background-color: #333 !important;
            color: #fff;
            font-weight: bold;
            font-size: 13px;
        }
    }
    ion-footer {
        .button {
            background: linear-gradient(to right, $themeColor1) !important;
            color: white;
        }
    }
}