<ion-header no-border>
	<ion-navbar color="color1">
		<ion-title>Visit Details</ion-title>
		<ion-buttons end>
			<button *ngIf="segment=='details' && !visit.isClosed && !visit.checkInComplete" ion-button icon-only color="white"
			 (click)="reassignVisit($event,visit)">
				<ion-icon name="people"></ion-icon>
			</button>
			<button *ngIf="segment=='details' && !visit.isClosed && !visit.checkInComplete" ion-button icon-only color="white"
			 (click)="addEditVisit($event,visit)">
				<ion-icon name="create"></ion-icon>
			</button>
			<button *ngIf="segment=='details' && !visit.isClosed && !visit.checkInComplete" ion-button icon-only color="white"
			 (click)="deleteVisit($event,visit)">
				<ion-icon name="trash"></ion-icon>
			</button>
			<button *ngIf="segment=='actions'" ion-button icon-only color="white" (click)="addEditAction($event)">
				<ion-icon name="add"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
	<ion-toolbar no-border-top color="color1">
		<ion-segment [(ngModel)]="segment" color="white" (ionChange)="segmentChanged()">
			<ion-segment-button value="details">
				Details
			</ion-segment-button>
			<ion-segment-button value="actions">
				Actions
			</ion-segment-button>
		</ion-segment>
	</ion-toolbar>
</ion-header>
<ion-content>
	<div [ngSwitch]="segment">
		<ion-list *ngSwitchCase="'details'">
			<ion-item>
				<ion-icon name="briefcase" color="primary" item-start></ion-icon>
				<h3>{{visit.customerName}}</h3>
			</ion-item>
			<ion-item>
				<ion-icon name="map" color="primary" item-start></ion-icon>
				<h3>{{visit.locationName}}</h3>
			</ion-item>
			<ion-item>
				<ion-icon name="calendar" color="primary" item-start></ion-icon>
				<h3>{{visit.startDate}}</h3>
			</ion-item>
			<ion-item>
				<ion-icon name="time" color="primary" item-start></ion-icon>
				<h3>{{('' + visit.startHour).padStart(2, '0')}}:{{('' +
					visit.startQuarter).padStart(2, '0')}} - {{('' + visit.endHour).padStart(2, '0')}}:{{('' +
					visit.endQuarter).padStart(2, '0')}}</h3>
			</ion-item>
			<!-- <ion-item>
				<ion-label>End Time:</ion-label>
				<ion-label style="text-align: right">{{('' + visit.endHour).padStart(2, '0')}}:{{('' +
					visit.endQuarter).padStart(2, '0')}}</ion-label>
			</ion-item> -->
			<ion-item>
				<ion-icon name="briefcase" color="primary" item-start></ion-icon>
				<h3>{{visit.objective}}</h3>
				<ion-icon *ngIf="visit.complete && visit.objectiveMet" name="checkmark" color="primary" item-end></ion-icon>
			</ion-item>
			<ion-item>
				<ion-icon name="person" color="primary" item-start></ion-icon>
				<h3>{{visit.contactName}}</h3>
			</ion-item>
			<ion-item>
				<ion-icon name="hand" color="primary" item-start></ion-icon>
				<h3>{{visit.positionHeld}}</h3>
			</ion-item>
			<ion-item>
				<ion-icon name="contacts" color="primary" item-start></ion-icon>
				<h3>{{visit.additionalStaff}}</h3>
			</ion-item>
			<ion-item text-wrap>
				<ion-icon name="clipboard" color="primary" item-start></ion-icon>
				<h3>{{visit.notes}}</h3>
			</ion-item>
			<ion-item *ngIf="visit.complete || visit.isClosed" text-wrap>
				<ion-icon name="paper" color="primary" item-start></ion-icon>
				<h3>{{visit.comments}}</h3>
			</ion-item>
			<div padding-horizontal padding-bottom>
				<!-- <button *ngIf="!visit.isClosed && !visit.checkInComplete" padding full ion-button (click)="checkInVisit()">Check In</button> -->
				<button *ngIf="!visit.isClosed && !visit.complete" padding full ion-button (click)="openJoCompletionPage(visit)">Complete
					Visit</button>
			</div>
		</ion-list>
		<div *ngSwitchCase="'actions'">
			<ion-segment [(ngModel)]="actionSegment" color="color2">
				<ion-segment-button value="my">
					My Actions
				</ion-segment-button>
				<ion-segment-button value="other">
					Other Actions
				</ion-segment-button>
			</ion-segment>
			<div [ngSwitch]="actionSegment">
				<ion-list *ngSwitchCase="'my'" no-margin margin-bottom>
					<ion-item *ngFor="let ac of visit.actions | callback : myActions.bind(this)" tappable (click)="actionDetail(ac)">
						<text-avatar [text]="ac.text" color="#3286d0" item-left></text-avatar>
						<h3>{{ac.name}}</h3>
						<p>{{ac.visit.customerName}}</p>
						<p>{{ac.dueDate}}</p>
					</ion-item>
				</ion-list>
				<ion-list *ngSwitchCase="'other'" no-margin margin-bottom>
					<ion-item *ngFor="let ac of visit.actions | callback : otherActions.bind(this)" tappable (click)="actionDetail(ac)">
						<text-avatar [text]="ac.text" color="#3286d0" item-left></text-avatar>
						<h3>{{ac.name}}</h3>
						<p>{{ac.visit.customerName}}</p>
						<p>{{ac.dueDate}}</p>
					</ion-item>
				</ion-list>
			</div>
		</div>
	</div>
</ion-content>