<ion-header no-border>
	<ion-navbar color="color1">
		<ion-title>{{'CALENDAR.TITLE' | translate}}</ion-title>
	</ion-navbar>
</ion-header>
<ion-content id="calendar-v1">
	<ion-segment [(ngModel)]="segment" color="color1">
		<ion-segment-button value="calendarView">
			{{'CALENDAR.CALENDAR_VIEW' | translate}}
		</ion-segment-button>
		<ion-segment-button value="calendarList">
			{{'CALENDAR.CALENDAR_LIST' | translate}}
		</ion-segment-button>
	</ion-segment>
	<div [ngSwitch]="segment">
		<div *ngSwitchCase="'calendarView'" padding-top>
			<angular2-fullcalendar #mycal class="calendar" [options]="calendarOptions"></angular2-fullcalendar>
		</div>
		<div>
			<ion-list *ngSwitchCase="'calendarList'" no-margin margin-bottom>
				<ion-list-header>
					Visits
				</ion-list-header>
				<ion-item *ngFor="let event of visits" (click)="visitDetail(event.id)">
					<h2>{{event.title}}</h2>
					<ion-note item-end>{{event.date}}</ion-note>
				</ion-item>
				<ion-list-header>
					Actions
				</ion-list-header>
				<ion-item *ngFor="let event of actions" (click)="actionDetail(event.id)">
					<h2>{{event.title}}</h2>
					<ion-note item-end>{{event.date}}</ion-note>
				</ion-item>
			</ion-list>
		</div>
	</div>
</ion-content>