<ion-header no-border>
	<ion-navbar color="color1">
		<ion-title>Products</ion-title>
	</ion-navbar>
</ion-header>
<ion-content>
	<ion-list>
		<ion-item *ngFor="let p of products" (click)="editProduct($event, p)">
			<h2>{{p.productName}}</h2>
			<p>{{p.supplierName}}</p>
			<ion-icon *ngIf="p.isStockist" name="checkmark" item-end></ion-icon>
		</ion-item>
	</ion-list>
</ion-content>