<ion-header no-border>
	<ion-navbar color="color1">
		<ion-title>Action Details</ion-title>
		<ion-buttons end>
			<button ion-button icon-only color="white" *ngIf="!action.complete" (click)="addEditAction($event, action)">
				<ion-icon name="create"></ion-icon>
			</button>
			<button ion-button icon-only color="white" *ngIf="!action.complete" (click)="deleteAction($event,action)">
				<ion-icon name="trash"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>
<ion-content>
	<ion-list>
		<ion-item>
			<ion-icon name="clipboard" color="primary" item-start></ion-icon>
			<h3>{{action.name}}</h3>
		</ion-item>
		<ion-item>
			<ion-icon name="stopwatch" color="primary" item-start></ion-icon>
			<h3>{{action.dueDate}}</h3>
		</ion-item>
		<ion-item>
			<ion-icon name="person" color="primary" item-start></ion-icon>
			<h3>{{action.assignedToName}}</h3>
		</ion-item>
		<!-- <ion-item>
			<ion-icon name="calendar" color="primary" item-start></ion-icon>
			<h3>{{action.assignedOn}}</h3>
		</ion-item> -->
		<ion-item>
			<ion-icon name="podium" color="primary" item-start></ion-icon>
			<h3>{{action.priority==1?'Low':(action.priority==2?'Medium':(action.priority==3?'High':'Critical'))}} Priority</h3>
		</ion-item>
		<ion-item text-wrap>
			<ion-icon name="quote" color="primary" item-start></ion-icon>
			<h3>{{action.comments}}</h3>
		</ion-item>
		<ion-item text-wrap>
			<ion-icon name="clipboard" color="primary" item-start></ion-icon>
			<h3>{{action.detail}}</h3>
		</ion-item>
		<div *ngIf="!action.complete" padding-horizontal padding-top>
			<button full ion-button (click)="openActionCompletionPage(action)">Complete</button>
		</div>
	</ion-list>

</ion-content>