<ion-header no-border>
    <ion-navbar color="color1">
        <ion-title>Visits</ion-title>
        <ion-buttons end>
            <button ion-button icon-only color="white" (click)="addEditVisit($event)">
                <ion-icon name="add"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-segment [(ngModel)]="visitStatus" color="color2">
        <ion-segment-button value="outstanding">
            Outstanding
        </ion-segment-button>
        <ion-segment-button value="completed">
            Completed
        </ion-segment-button>
    </ion-segment>
    <div [ngSwitch]="visitStatus">
        <ion-list *ngSwitchCase="'outstanding'" no-margin margin-bottom>
            <ion-item tappable *ngFor="let v of visits | callback : outstandingVisits.bind(this)" (click)="visitDetail(v.id)">
                <text-avatar [text]="v.text" [color]="v.color" item-left></text-avatar>
                <h3>{{v.customerName}}</h3>
                <p>{{v.locationName}}</p>
                <p>{{v.startDate}} @ {{('' + v.startHour).padStart(2, '0')}}:{{('' +
                    v.startQuarter).padStart(2, '0')}}</p>
            </ion-item>
        </ion-list>
        <ion-list *ngSwitchCase="'completed'" no-margin margin-bottom>
            <ion-item tappable *ngFor="let v of visits | callback : completedVisits.bind(this)" (click)="visitDetail(v.id)">
                <text-avatar [text]="v.text" [color]="v.color" item-left></text-avatar>
                <h3>{{v.customerName}}</h3>
                <p>{{v.locationName}}</p>
                <p>{{v.startDate}} @ {{('' + v.startHour).padStart(2, '0')}}:{{('' +
                    v.startQuarter).padStart(2, '0')}}</p>
            </ion-item>
        </ion-list>
    </div>
</ion-content>