<ion-header>
	<ion-toolbar color="color1">
		<ion-title>
			{{custEdit?'Edit':'Create'}} Customer
		</ion-title>
		<ion-buttons end (click)="dismiss()">
			<button ion-button icon-only>
				<span ion-text showWhen="ios"> Cancel </span>
				<ion-icon name="close"></ion-icon>
			</button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>
<ion-content id="details-v1">
	<ion-list *ngIf="custAdd">
		<ion-item>
			<ion-label stacked>Customer Name</ion-label>
			<ion-input type="text" [(ngModel)]="custAdd.name"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label stacked>Contact Name</ion-label>
			<ion-input type="text" [(ngModel)]="custAdd.contactName"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label stacked>Contact Phone</ion-label>
			<ion-input type="text" [(ngModel)]="custAdd.contactPhone"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label stacked>Position Held:</ion-label>
			<ion-select [(ngModel)]="custAdd.positionHeld" interface="action-sheet" cancelText="Dismiss">
				<ion-option *ngFor="let p of positions" value="{{p}}">{{p}}</ion-option>
			</ion-select>
		</ion-item>
		<ion-item>
			<ion-label stacked>Type</ion-label>
			<ion-select [(ngModel)]="custAdd.typeId" interface="action-sheet" cancelText="Dismiss">
				<ion-option value="1">Contractor</ion-option>
				<ion-option value="2">Consultant</ion-option>
				<ion-option value="3">Wholesaler</ion-option>
				<ion-option value="4">Other</ion-option>
			</ion-select>
		</ion-item>
		<ion-item>
			<ion-label stacked>Email</ion-label>
			<ion-input type="text" [(ngModel)]="custAdd.contactEmail"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label stacked>Key Ranking</ion-label>
			<ion-select [(ngModel)]="custAdd.keyRankId" interface="action-sheet" cancelText="Dismiss">
				<ion-option value="1">Potential</ion-option>
				<ion-option value="2">Encouraging</ion-option>
				<ion-option value="2">Valued</ion-option>
				<ion-option value="4">Important</ion-option>
				<ion-option value="5">Key Customer</ion-option>
			</ion-select>
		</ion-item>
		<ion-item>
			<ion-label stacked>Address 1</ion-label>
			<ion-input type="text" [(ngModel)]="custAdd.address1"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label stacked>Address 2</ion-label>
			<ion-input type="text" [(ngModel)]="custAdd.address2"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label stacked>Address 3</ion-label>
			<ion-input type="text" [(ngModel)]="custAdd.address3"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label stacked>Address 4</ion-label>
			<ion-input type="text" [(ngModel)]="custAdd.address4"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label stacked>Post Code</ion-label>
			<ion-input type="text" [(ngModel)]="custAdd.postCode"></ion-input>
		</ion-item>
	</ion-list>
	<ion-list *ngIf="custEdit">
		<ion-item>
			<ion-label stacked>Customer Name</ion-label>
			<ion-input type="text" [(ngModel)]="custEdit.name"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label stacked>Contact</ion-label>
			<ion-select [(ngModel)]="custEdit.contactId" interface="action-sheet" cancelText="Dismiss">
				<ion-option *ngFor="let contact of contacts" value="{{contact.id}}">{{contact.name}}</ion-option>
			</ion-select>
		</ion-item>
		<ion-item>
			<ion-label stacked>Site</ion-label>
			<ion-select [(ngModel)]="custEdit.siteId" interface="action-sheet" cancelText="Dismiss">
				<ion-option *ngFor="let site of sites" value="{{site.id}}">{{site.name}}</ion-option>
			</ion-select>
		</ion-item>
		<ion-item>
			<ion-label stacked>Type</ion-label>
			<ion-select [(ngModel)]="custEdit.typeId" interface="action-sheet" cancelText="Dismiss">
				<ion-option value="1">Contractor</ion-option>
				<ion-option value="2">Consultant</ion-option>
				<ion-option value="3">Wholesaler</ion-option>
				<ion-option value="4">Other</ion-option>
			</ion-select>
		</ion-item>
		<ion-item>
			<ion-label stacked>Key Ranking</ion-label>
			<ion-select [(ngModel)]="custEdit.keyRankId" interface="action-sheet" cancelText="Dismiss">
				<ion-option value="1">Potential</ion-option>
				<ion-option value="2">Encouraging</ion-option>
				<ion-option value="2">Valued</ion-option>
				<ion-option value="4">Important</ion-option>
				<ion-option value="5">Key Customer</ion-option>
			</ion-select>
		</ion-item>
		<ion-item>
			<ion-label stacked>Notes</ion-label>
			<ion-textarea [(ngModel)]="custEdit.notes" autosize placeholder="Notes"></ion-textarea>
		</ion-item>
	</ion-list>
	<div padding>
		<button ion-button full color="primary" (click)="save()">
			Submit</button>
	</div>
</ion-content>