<ion-header no-border>
	<ion-navbar color="color1">
		<ion-title>Actions</ion-title>
		<ion-buttons end>
			<button ion-button icon-only color="white" (click)="openPage('ActionFormPage')">
				<ion-icon name="add"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>
<ion-content>
	<!-- <ion-searchbar [(ngModel)]="terms"></ion-searchbar> -->
	<ion-segment [(ngModel)]="actionSegment" color="color2">
		<ion-segment-button value="my">
			My Actions
		</ion-segment-button>
		<ion-segment-button value="other">
			Other Actions
		</ion-segment-button>
	</ion-segment>
	<div [ngSwitch]="actionSegment">
		<ion-list *ngSwitchCase="'my'" no-margin margin-bottom>
			<ion-item *ngFor="let ac of actions | callback : myActions.bind(this)" tappable (click)="actionDetail(ac)">
				<text-avatar [text]="ac.text" [color]="ac.color" item-left></text-avatar>
				<h3>{{ac.name}}</h3>
				<p>{{(ac.customer || {name: ''}).name}}</p>
				<p>{{ac.dueDate}}</p>
			</ion-item>
		</ion-list>
		<ion-list *ngSwitchCase="'other'" no-margin margin-bottom>
			<ion-item *ngFor="let ac of actions | callback : otherActions.bind(this)" tappable (click)="actionDetail(ac)">
				<text-avatar [text]="ac.text" [color]="ac.color" item-left></text-avatar>
				<h3>{{ac.name}}</h3>
				<p>{{(ac.customer || {name: ''}).name}}</p>
				<p>{{ac.dueDate}}</p>
			</ion-item>
		</ion-list>
	</div>
</ion-content>