<ion-header>
  <ion-toolbar color="color1">
    <ion-title>
      Complete Action
    </ion-title>
    <ion-buttons end (click)="dismiss()">
      <button ion-button icon-only>
        <span ion-text showWhen="ios"> Cancel </span>
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item>
      <ion-label stacked>Comments</ion-label>
      <ion-textarea type="text" [(ngModel)]="_ac.comments"></ion-textarea>
    </ion-item>
    <div padding>
      <button ion-button full color="primary" (click)="complete(_ac)">
        Submit</button>
    </div>
  </ion-list>
</ion-content>