#google-v1 {
	background: white;

	ion-searchbar{
		background: white;
	}
	ion-list-header{
		ion-label{
			font-weight: bold;
			font-size: 16px;
		}
	}
	ion-list{
		ion-list-header{
			margin-bottom: -10px;
		}
	}
}