<ion-header no-border>
	<ion-navbar color="color1">
		<ion-title>Customer Locations</ion-title>
	</ion-navbar>
</ion-header>
<ion-content id="google-v1">
	<ion-searchbar></ion-searchbar>
	<ion-list>
		<ion-list-header>
			<ion-label col-3>Cust Ref</ion-label>
			<ion-label>Customer Name</ion-label>
		</ion-list-header>
		<ion-item tappable *ngFor="let cust of customers" (click)="customerLocations(cust.id)">
			<ion-label col-3>{{cust.refNo}}</ion-label>
			<ion-label>{{cust.name}}</ion-label>
		</ion-item>
		<!-- <ion-item tappable (click)="openPage('Customer_contactsComponent')"><ion-label col-3>ELE783</ion-label><ion-label>ELECTRIC CENTER BRISTOL</ion-label></ion-item>	
		<ion-item tappable (click)="openPage('Customer_contactsComponent')"><ion-label col-3>NEWMCC</ion-label><ion-label>NEWEY & EYRE BRISTOL</ion-label></ion-item>
		<ion-item tappable (click)="openPage('Customer_contactsComponent')"><ion-label col-3>3PHASE</ion-label><ion-label>3 PHASE BRISTOL LTD</ion-label></ion-item>	
		<ion-item tappable (click)="openPage('Customer_contactsComponent')"><ion-label col-3>HTE001</ion-label><ion-label>H-TE WESTERN AUTOMATION</ion-label></ion-item>
		<ion-item tappable (click)="openPage('Customer_contactsComponent')"><ion-label col-3>TEMPLE</ion-label><ion-label>TEMPLEGATE ELECTRICAL BRISTOL</ion-label></ion-item>	
		<ion-item tappable (click)="openPage('Customer_contactsComponent')"><ion-label col-3>DEN014</ion-label><ion-label>DENMANDS BRADLEY STOKE</ion-label></ion-item>	
		<ion-item tappable (click)="openPage('Customer_contactsComponent')"><ion-label col-3>OLYM01</ion-label><ion-label>OLYMPUS ELECTRICAL WHOLESALE</ion-label></ion-item>	
		<ion-item tappable (click)="openPage('Customer_contactsComponent')"><ion-label col-3>WWE061</ion-label><ion-label>WILTS ELECTRICAL AZTEC</ion-label></ion-item>	
		<ion-item tappable (click)="openPage('Customer_contactsComponent')"><ion-label col-3>RAP001</ion-label><ion-label>RAPID (BRISTOL) LTD</ion-label></ion-item> -->
	</ion-list>
</ion-content>