<!-- Google map Page -->

<!--
	- Five types of map applied separately with individual tab component
	- This file contains five tabs and every tab contain single map component
-->

<!-- Header part -->
<ion-header no-border>
	<ion-navbar color="color1" hideBackButton>
		<button ion-button menuToggle color="white">
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>Edit Action</ion-title>
		<ion-buttons end>
            <button ion-button icon-only color="white" (click)="openPage('ActionsComponent')">
                <ion-icon name="trash"></ion-icon>
            </button>
        </ion-buttons>
	</ion-navbar>
</ion-header>

<!-- Content part -->
<ion-content id="details-v1">

	<ion-item>
		<ion-label>Pricing Excercise<br/>22/01/2018</ion-label>
		<button ion-button item-end icon-only>
			<ion-icon name="create"></ion-icon>
		</button>
	</ion-item>

	<ion-item>
		<ion-label>Assigned to:</ion-label>
		<ion-select [(ngModel)]="Assigned">
		  	<ion-option value="Scott Macleod" selected>Scott Macleod</ion-option>
		</ion-select>
	</ion-item>

	<ion-item>
		<ion-label>Assigned by:</ion-label>
		<ion-label style="text-align: right">Scott Macleod</ion-label>
	</ion-item>

	<ion-item>
		<ion-label>Assigned on:</ion-label>
		<ion-label style="text-align: right">12/07/2018 13:26</ion-label>
	</ion-item>

	<ion-item>
        <ion-label col-4>Details:</ion-label>
        <ion-textarea></ion-textarea>
    </ion-item>

	<ion-item>
		<ion-label>Priority:</ion-label>
		<ion-select [(ngModel)]="Priority">
			<ion-option value="Low" selected>Low</ion-option>
			<ion-option value="Medium">Medium</ion-option>
			<ion-option value="High">High</ion-option>
			<ion-option value="Critical">Critical</ion-option>
		</ion-select>
	</ion-item>

	<ion-item>
		<ion-label>Status:</ion-label>
		<ion-select [(ngModel)]="Status">
			<ion-option value="Not Started">Not Started</ion-option>
			<ion-option value="In Progress" selected>In Progress</ion-option>
			<ion-option value="Completed">Completed</ion-option>
		</ion-select>
	</ion-item>

	<ion-item>
        <ion-label col-4>Comments:</ion-label>
        <ion-textarea></ion-textarea>
    </ion-item>

	<br/><button id="submitbutton" block ion-button icon-only (click)="openPage('ActionsComponent')">Save Changes</button><br/>
	
</ion-content>