<ion-header no-border>
	<ion-navbar color="color1">
		<ion-title>Trade Links</ion-title>
		<ion-buttons end>
			<button ion-button icon-only color="white" (click)="addEditTradelink($event)">
				<ion-icon name="add"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>
<ion-content>
	<ion-item tappable *ngFor="let link of tradeLinks">
		<text-avatar [text]="link.text" color="#3286d0" item-left></text-avatar>
		<h3>{{link.name}}</h3>
		<div class="buttons" item-right>
			<button ion-button icon-start color="color1" (click)="deleteTradeLink($event,link)">
				<ion-icon name="trash"></ion-icon>Delete
			</button>
		</div>
	</ion-item>
</ion-content>