<ion-header>
  <ion-toolbar color="color1">
    <ion-title>
      {{contact.id?'Edit':'Create'}} Customer Contact

    </ion-title>
    <ion-buttons end (click)="dismiss()">
      <button ion-button icon-only>
        <span ion-text showWhen="ios"> Cancel </span>
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item>
      <ion-label stacked>Contact Name:</ion-label>
      <ion-input type="text" [(ngModel)]="contact.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Site</ion-label>
      <ion-select [(ngModel)]="contact.siteId" interface="action-sheet" cancelText="Dismiss">
        <ion-option *ngFor="let site of sites" value="{{site.id}}">{{site.name}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label stacked>Position Held:</ion-label>
      <ion-select [(ngModel)]="contact.positionHeld" interface="action-sheet" cancelText="Dismiss">
        <ion-option *ngFor="let p of positions" value="{{p}}">{{p}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label stacked>Contact Number</ion-label>
      <ion-input type="text" [(ngModel)]="contact.phone"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Email Address:</ion-label>
      <ion-input type="text" [(ngModel)]="contact.email1"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Is Default</ion-label>
      <ion-toggle checked="false" [(ngModel)]="contact.isDefault"></ion-toggle>
    </ion-item>
  </ion-list>
  <div padding>
    <button ion-button full color="primary" (click)="save(visit)">
      Submit</button>
  </div>
</ion-content>