<ion-header no-border>
	<ion-navbar color="color1">
		<ion-title>Location Detail</ion-title>
		<ion-buttons end>
			<button ion-button icon-only color="white" (click)="addEditLocation($event, location)">
				<ion-icon name="create"></ion-icon>
			</button>
			<button ion-button icon-only color="white" (click)="deleteLocation($event, location)">
				<ion-icon name="trash"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>
<ion-content>
	<ion-item>
		<ion-icon name="create" color="primary" item-start></ion-icon>
		<h3>{{location.name}}</h3>
	</ion-item>
	<ion-item>
		<ion-icon name="map" color="primary" item-start></ion-icon>
		<h3>{{location.address1}}</h3>
	</ion-item>
	<ion-item>
		<ion-icon name="map" color="primary" item-start></ion-icon>
		<h3>{{location.address2}}</h3>
	</ion-item>
	<ion-item>
		<ion-icon name="map" color="primary" item-start></ion-icon>
		<h3>{{location.address3}}</h3>
	</ion-item>
	<ion-item>
		<ion-icon name="map" color="primary" item-start></ion-icon>
		<h3>{{location.address4}}</h3>
	</ion-item>
	<ion-item>
		<ion-icon name="map" color="primary" item-start></ion-icon>
		<h3>{{location.postCode}}</h3>
	</ion-item>
</ion-content>