<!-- Login Page -->

<!-- Content Options -->
<ion-content id="login-v1">

  <!-- Logo -->
  <br/><br/><br/><br/>
  <ion-grid>
    <ion-row>
      <ion-col>
      </ion-col>
      <ion-col col-6>
        <img src="assets/imgs/logo.png" style="width:100%">
      </ion-col>
      <ion-col>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Main Body -->
  <div class="main-body" padding>
    <form>
      <ion-list>
        <!-- Username -->
        <ion-item>
          <ion-label>
            <ion-icon name="md-mail"></ion-icon>
          </ion-label>
          <ion-input class="ion-ios-locked-outline" type="email" placeholder="{{'LOGIN.EMAIL' | translate}}" [(ngModel)]="user.userName"
            name="email"></ion-input>
        </ion-item>

        <!-- Password -->
        <ion-item>
          <ion-label>
            <ion-icon name="md-eye"></ion-icon>
          </ion-label>
          <ion-input class="ion-ios-locked-outline" type="password" placeholder="{{'LOGIN.PASSWORD' | translate}}" [(ngModel)]="user.password"
            name="password"></ion-input>
        </ion-item>

        <!-- Forget Password Button -->
        <!-- <button ion-button clear color="white" (click)="showForgetPasswordPopup()">
          {{'LOGIN.FORGET_PASSWORD' | translate}} ?
        </button> -->
      </ion-list>


      <div padding>
        <ion-grid>
          <ion-row>
            <!-- Login Button -->
            <button ion-button type="button" color="dark" block (click)="login()">
              {{'LOGIN.LOGIN' | translate}}
            </button>
          </ion-row>
          <!-- <ion-row>
            <ion-col col-6>
              <button ion-button color="white" block>
                <ion-icon name="logo-facebook" style="zoom:2.0"></ion-icon>
              </button>
            </ion-col>
            <ion-col col-6>
              <button ion-button icon-only color="white" block>
                <ion-icon name="logo-twitter"></ion-icon>
              </button>
            </ion-col>
          </ion-row> -->
        </ion-grid>
      </div>
    </form>
  </div>
</ion-content>