<ion-header no-border>
	<ion-navbar color="color1">
		<ion-title>Customer Details</ion-title>
		<ion-buttons end>
			<button *ngIf="segment=='details' && !customer.isOther" ion-button icon-only color="white" (click)="addEditCustomer($event, customer)">
				<ion-icon name="create"></ion-icon>
			</button>
			<button *ngIf="segment=='contacts'" ion-button icon-only color="white" (click)="addLocationOrContactOrVisit($event)">
				<ion-icon name="add"></ion-icon>
			</button>
			<button *ngIf="segment=='visits' && visitSegment!='historic'" ion-button icon-only color="white" (click)="addEditVisit($event)">
				<ion-icon name="add"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
	<ion-toolbar no-border-top color="color1">
		<ion-segment [(ngModel)]="segment" color="white">
			<ion-segment-button value="details">
				Details
			</ion-segment-button>
			<ion-segment-button value="contacts">
				Contacts
			</ion-segment-button>
			<ion-segment-button value="visits">
				Visits
			</ion-segment-button>
		</ion-segment>
	</ion-toolbar>
</ion-header>
<ion-content>
	<div [ngSwitch]="segment">
		<ion-list *ngSwitchCase="'details'">
			<ion-item>
				<ion-icon name="briefcase" color="primary" item-start></ion-icon>
				<h3>{{customer.name}}</h3>
			</ion-item>
			<ion-item>
				<ion-icon name="map" color="primary" item-start></ion-icon>
				<h3>{{customer.address1}}, {{customer.address2}}</h3>
				<p>{{customer.address3}}</p>
				<p>{{customer.address4}}</p>
				<p>{{customer.postCode}}</p>
			</ion-item>
			<ion-item>
				<ion-icon name="person" color="primary" item-start></ion-icon>
				<h3>{{customer.contactName}}</h3>
			</ion-item>
			<ion-item>
				<ion-icon name="call" color="primary" item-start></ion-icon>
				<h3>{{customer.contactPhone}}</h3>
			</ion-item>
			<ion-item>
				<ion-icon name="mail" color="primary" item-start></ion-icon>
				<h3>{{customer.contactEmail}}</h3>
			</ion-item>
			<ion-item text-wrap>
				<ion-icon name="clipboard" color="primary" item-start></ion-icon>
				<p>{{customer.notes}}</p>
			</ion-item>
			<div padding-horizontal padding-top>
				<button full ion-button (click)="createTradeLink()">Trade Links</button>
			</div>
			<div *ngIf="customer.typeId == '3'" padding-horizontal>
				<button full ion-button (click)="openStockist()">Stockist</button>
			</div>
			<div padding-horizontal>
				<button full ion-button (click)="openActions()">Actions</button>
			</div>
		</ion-list>
		<div *ngSwitchCase="'contacts'">
			<ion-segment [(ngModel)]="contactSegment" color="color2">
				<ion-segment-button value="contacts">
					People
				</ion-segment-button>
				<ion-segment-button value="locations">
					Locations
				</ion-segment-button>
			</ion-segment>
			<div [ngSwitch]="contactSegment">
				<ion-list *ngSwitchCase="'locations'" no-margin margin-bottom>
					<button ion-item text-wrap *ngFor="let l of customer.locations" (click)="locationDetail(l.id)">
						<text-avatar [text]="l.text" color="#3286d0" item-left></text-avatar>
						<h2>{{l.name}}</h2>
						<p>{{l.address1}}, {{l.address2}}</p>
						<p>{{l.address3}}</p>
						<p>{{l.address4}}</p>
						<p>{{l.postCode}}</p>
					</button>
				</ion-list>
				<ion-list *ngSwitchCase="'contacts'" no-margin margin-bottom>
					<button ion-item text-wrap *ngFor="let c of customer.contacts" (click)="contactDetail(c.id)">
						<text-avatar [text]="c.text" color="#3286d0" item-left></text-avatar>
						<h2>{{c.name}}</h2>
						<p>{{c.phone}}</p>
						<p>{{c.email1}}</p>
					</button>
				</ion-list>
			</div>
		</div>
		<div *ngSwitchCase="'visits'">
			<ion-segment [(ngModel)]="visitSegment" color="color2">
				<ion-segment-button value="current">
					Current
				</ion-segment-button>
				<ion-segment-button value="historic">
					Historic
				</ion-segment-button>
			</ion-segment>
			<div [ngSwitch]="visitSegment">
				<ion-list *ngSwitchCase="'current'" no-margin margin-bottom>
					<ion-item *ngFor="let v of currentVisits()" (click)="visitDetail(v.id)">
						<text-avatar [text]="v.text" [color]="v.color" item-left></text-avatar>
						<h3>{{v.locationName}}</h3>
						<p>{{v.startDate}} @ {{('' + v.startHour).padStart(2, '0')}}:{{('' +
							v.startQuarter).padStart(2, '0')}}</p>
					</ion-item>
				</ion-list>
				<ion-list *ngSwitchCase="'historic'" no-margin margin-bottom>
					<ion-item *ngFor="let v of historicVisits()" (click)="visitDetail(v.id)">
						<text-avatar [text]="v.text" [color]="v.color" item-left></text-avatar>
						<h3>{{v.locationName}}</h3>
						<p>{{v.startDate}} @ {{('' + v.startHour).padStart(2, '0')}}:{{('' +
							v.startQuarter).padStart(2, '0')}}</p>
					</ion-item>
				</ion-list>
			</div>
		</div>
	</div>
	<div padding-horizontal padding-bottom>
	</div>
</ion-content>