<!-- Google map Page -->

<!--
	- Five types of map applied separately with individual tab component
	- This file contains five tabs and every tab contain single map component
-->

<!-- Header part -->
<ion-header no-border>
	<ion-navbar color="color1" hideBackButton>
		<button ion-button menuToggle color="white">
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>Add New Visit</ion-title>
		<ion-buttons end>
            <button ion-button icon-only color="white" (click)="openPage('VisitsComponent')">
                <ion-icon name="arrow-round-back"></ion-icon>
            </button>
        </ion-buttons>
	</ion-navbar>
</ion-header>

<!-- Content part -->
<ion-content id="details-v1">

	<ion-item>
		<ion-label>Location:</ion-label>
		<ion-select [(ngModel)]="Location">
		  	<ion-option value="Wholesaler">Wholesaler</ion-option>
		  	<ion-option value="Subcontractor">Subcontractor</ion-option>
		</ion-select>
		<button ion-button item-end icon-only>
			<ion-icon name="add"></ion-icon>
		</button>
	</ion-item>

	<ion-item>
		<ion-label>Date</ion-label>
		<ion-datetime displayFormat="MM/DD/YYYY" pickerFormat="MM/DD/YYYY" [(ngModel)]="event.month"></ion-datetime>
	</ion-item>

	<ion-item>
		<ion-label>Start Time</ion-label>
		<ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="event.timeStarts"></ion-datetime>
	</ion-item>

	<ion-item>
		<ion-label>End Time</ion-label>
		<ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="event.timeStarts"></ion-datetime>
	</ion-item>

	<ion-item>
		<ion-label>Objective</ion-label>
		<button ion-button item-end icon-only>
			<ion-icon name="create"></ion-icon>
		</button>
	</ion-item>

	<ion-item>
		<ion-label>Meeting Contact:</ion-label>
		<ion-select [(ngModel)]="Location">
		  	<ion-option value="Wholesaler">Wholesaler</ion-option>
		  	<ion-option value="Subcontractor">Subcontractor</ion-option>
		</ion-select>
		<button ion-button item-end icon-only>
			<ion-icon name="add"></ion-icon>
		</button>
	</ion-item>

	<ion-item>
		<ion-label>Position Held:</ion-label>
		<ion-select [(ngModel)]="Location">
		  	<ion-option value="Wholesaler">Wholesaler</ion-option>
		  	<ion-option value="Subcontractor">Subcontractor</ion-option>
		</ion-select>
	</ion-item>

	<ion-item>
		<ion-label>Comments</ion-label>
		<button ion-button item-end icon-only>
			<ion-icon name="create"></ion-icon>
		</button>
	</ion-item>

	<br/><button id="submitbutton" block ion-button icon-only (click)="openPage('VisitsComponent')">Submit</button><br/>

</ion-content>